<footer>
    <div class="f-info">
        <div class="f-info-socials">

            <a href="https://www.facebook.com/profile.php?id=100079911162878"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/sujal_satpute5/"><i class="fa-brands fa-square-instagram red"></i></a>
            <a href="https://www.linkedin.com/in/sujal-satpute-4b0946299/"><i class="fa-brands fa-linkedin"></i></a>

        </div>
        
        <div class="f-info-brand">&copy; wonder private limit</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>